	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
		<%- include('partials/header.ejs') %>
			<!-- start banner Area -->
			<section class="banner-area" id="home">	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-start">
						<div class="banner-content col-lg-7">
							<h1 class="text-uppercase">
								SEUS LIVROS EM UM SÓ LUGAR
							</h1>
							<p class="text-white pt-20 pb-20">
								Com o Sistema Books, você pode controlar seu acervo, gerenciar  <br> seus empréstimos e devoluções.
							</p>
						</div>
						<div class="col-lg-5 banner-right">
							<img class="img-fluid" src="img/header-img.png" alt="">
						</div>												
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
			<%- include('partials/footer.ejs') %>
		</body>
	</html>



